<section class="homepageSections">
  <article class="articleArea">
    <h1>About writeIt.pro</h1>
    <img src="images/about-img.png" alt="editor screenshot" id="imgEditorScreenshot">
    <p>writeIt is a blog that allows the registered users to write, store and share their thoughts through a wusiwug editor. It includes the following languages and frameworks:</p>
    <ul>
      <li>- HTML for the front end basic content</li>
      <li>- Vanilla CSS for desktop and mobile experiences, items positioning, coloring, fonts, display</li>
      <li>- PostgresSQL for the database</li>
      <li>- Knex.js for the database migration, seeds and queries</li>
      <li>- Node.js for building the server</li>
      <li>- express.js for routes and rendering</li>
      <li>- handlebars.js for server side view templates</li>
      <li>- Vanilla JavaScript for user interactivity</li>
      <li>- Cloudinary Cloud Management for the upload and storing of the media files</li>
      <li>- Four lines of code in jQuery as required for the Cloudinary connectivity</li>
    </ul>
    <br>
    <p>If you are interested in seeing some other projects from me, visit these pages:</p>
    <ul>
      <li>- <a href="http://hangman.pro">http://hangman.pro</a> - Hangman game (html, css, jquery)</li>
      <li>- <a href="http://sportyTourist.com">http://sportyTourist.com</a> - Sports news aggregator site (html, css, javascript, jquery) (front end only, wip)</li>
      <li>- <a href="https://git.io/vyfiO">https://git.io/vyfiO</a> - Ajax Calls on Spotify and return of artists discography (html, css, javascript, promises calls)</li>
      <li>- <a href="https://shorten.herokuapp.com/dz85y">https://shorten.herokuapp.com/dz85y</a> - Image filtering console. node.js server, html, css, javascript (wip)</li>
      <li>- <a href="https://git.io/vMM8C">https://git.io/vMM8C</a> - CSS tutorial. Pages get enhanced as the user goes through them. Mobile friendly (html, css)</li>
    </ul>
    <br>
    <p>If you are interested, feel free to contact me via email at <a href="mailto:papostolopoulos@gmail.com?subject=feedback">papostolopoulos@gmail.com</a></p>

  </article>



</section>
