

<!-- MAIN SECTION -->
<main>

    {{#each postings}}
    <article class="articleArea">
      <h3>{{title}}</h3>
      <h4>posted by: {{username}}.</h4>
      <h5>Date posted: {{date}}</h5>
      <p>{{body}}</p>
    </article>
    {{/each}}


  </section>
</main>




<!-- // #### articles
// | field    | datatype         |
// | :        | :                |
// | id       | int              |
// | user_id  | int (fk) - users |
// | title    | string           |
// | body     | string           |
// | date     | datetime         | -->
