

<!-- MAIN SECTION -->
<main>
  <section>
    <article class="" id="newArticleArea">
      <form class="" id="newArticle" action="/articles" method="post">
        <table>
          <tr>
            <td>
              <h1>Title:</h1>
            </td>
            <td>
              <label for="newArticleTitle">
                <input type="text" name="title" value="" id="newArticleTitle" placeholder="Enter your title" required>
              </label>
            </td>
          </tr>

          <tr>
            <td>
              Body:
            </td>
            <td>
              <label for="newArticleBody">
                <textarea name="body" rows="15" cols="100" id="newArticleBody" placeholder="writeIt here" required></textarea>
              </label>
            </td>
          </tr>

          <tr>
            <td>
              <label for="newArticleSubmit">
                  <button type="submit" name="button" id="newArticleSubmit" title="Save your post">writeIt</button>
              </label>
            </td>
            <td>
              <button type="button" name="button" onClick="history.go(-1);return true;" title="Cancel this post">forgetIt</button>
            </td>
          </tr>
        </table>
      </form>

    </article>


  </section>
</main>




<!-- // #### articles
// | field    | datatype         |
// | :        | :                |
// | id       | int              |
// | user_id  | int (fk) - users |
// | title    | string           |
// | body     | string           |
// | date     | datetime         | -->
