<section class="homepageSections">
  <article class="articleArea">
    <h3>Successful update</h3>
    <p>Your new account info are:</p>
    <p>username: {{username}}</p>
    <p>email: {{email}}</p>
  </article>

</section>
