You are in the users page


{{#each usersTable}}
<article class="articleArea">
  <h3>{{username}} has an id of {{id}}</h3>
  <h4>email: {{email}}.</h4>
  <h5>password: {{password}}</h5>
</article>
{{/each}}

<!--
// | field      | datatype    |
// | :          | :           |
// | id         | int         |
// | username   | string      |
// | email      | string      |
// | password   | string      | -->
