You are in the users page


{{#each usersTable}}
<article class="articleArea">
  <h3> <a href="/articles/pages/{{username}}">{{username}}</a> has an id of {{id}}</h3>
  <h4>email: {{email}}.</h4>
</article>
{{/each}}

<!--
// | field      | datatype    |
// | :          | :           |
// | id         | int         |
// | username   | string      |
// | email      | string      |
// | password   | string      | -->
