/*
  ========================================
  General areas
  ========================================
*/

html {
  background-color: rgb(255, 255, 255);
}

html,
body {
	/*001-Box Model*/
	height:100%;
	/*002-Positioning*/
	/*003-Typography*/
	/*004-Backgrounds*/
}

body {
	/*001-Box Model*/
	/*002-Positioning*/
	/*003-Typography*/
	font: 120%/120% "Lucida Grande", Helvetica, Arial, sans-serif;
	color: rgb(82, 24, 20);
	/*004-Backgrounds*/
}

#container {
	/*001-Box Model*/
	width: 80%;
	margin: 0 auto;
	min-height:100%;
	border-left: solid 2px rgb(187, 52, 47);
	border-right: solid 2px rgb(187, 52, 47);
	/*002-Positioning*/
	position:relative;
	/*003-Typography*/
	/*004-Backgrounds*/
	background-color: rgb(245, 216, 214);
}

/*
  ========================================
  Blocks
  ========================================
*/

header {
	/*001-Box Model*/
	height: 100px;
	/*002-Positioning*/
	/*003-Typography*/
	/*004-Backgrounds*/
	background-color: rgb(187, 52, 47);
}

.rightHeaderArea {
	text-align: center;
	line-height: 100px;
}

#logoDiv {
	/*001-Box Model*/
	height: inherit;
	padding-left: 20px;
	width:auto;
	/*002-Positioning*/
	float: left;
	/*003-Typography*/
	/*004-Backgrounds*/
}

#logoDiv a {
	/*001-Box Model*/
	/*002-Positioning*/
	/*003-Typography*/
	font-size: 400%;
	/*004-Backgrounds*/
	text-decoration: none;
}

#logoDiv a .fa-pencil-square-o {
	/*001-Box Model*/
	/*002-Positioning*/
	/*003-Typography*/
	color: rgb(255, 255, 255);
	line-height: 100px;
	/*004-Backgrounds*/
}

#logoDiv a:hover .fa-pencil-square-o {
	/*001-Box Model*/
	color: rgb(221, 164, 72);
	/*002-Positioning*/
	/*003-Typography*/
	/*004-Backgrounds*/
}

#headerUserAreaDiv{
  /*001-Box Model*/
  height: inherit;
  width:auto;
  /*002-Positioning*/
  float: right;
  /*003-Typography*/
  line-height: 40px; /*extra alignment is happening from the padding done to the tds of the table*/
  /*004-Backgrounds*/
}

#headerUserAreaDiv table tbody tr td{
  /*001-Box Model*/
  padding-top: 5px;
  padding-right: 10px;
  min-width: 120px;
  /*002-Positioning*/
  /*003-Typography*/
  text-align: center;
  color: rgb(255, 255, 255);
  /*004-Backgrounds*/
}

#headerUserAreaDiv table tbody tr td button {
  /*001-Box Model*/
  min-width: 110px;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
}

#newArticleButton {
  border: none;
  background-color: none;
  padding: 0;
}

#loginSignupDiv {
  text-align: center;
}

#loginSection, #signupSection {
  /*001-Box Model*/
  width: 48%;
  display: inline-block;
  border: 2px solid rgb(187, 52, 47);
  margin: 1px;
	/*002-Positioning*/
	/*003-Typography*/
	/*004-Backgrounds*/
  background-color: rgba(221, 164, 72, .3);
}

main {
	/*001-Box Model*/
	padding-bottom:100px; /* Height of the footer element */
	/*002-Positioning*/
	/*003-Typography*/
	/*004-Backgrounds*/
}

#maxWidthMain {
  /*width: 1000px;*/
  max-width: 1600px;
  margin: 0 auto;
}

section {
	/*001-Box Model*/
	padding: 20px;
	/*002-Positioning*/
	/*003-Typography*/
	/*004-Backgrounds*/
}

.loginPageForms input{
	/*001-Box Model*/
	border: 2px solid rgb(221, 164, 72);
	/*002-Positioning*/
	/*003-Typography*/
  font-size: inherit;
	/*004-Backgrounds*/
}

.loginPageForms table tr td {
	/*001-Box Model*/
  padding: 5px 5px;
	text-align: right;
	/*002-Positioning*/
	/*003-Typography*/
	/*004-Backgrounds*/
}

#signupAreaDiv table, #loginAreaDiv table {
	/*001-Box Model*/
	margin: 0 auto;
	/*002-Positioning*/
	/*003-Typography*/
	/*004-Backgrounds*/
}

#loginForm table {
	/*001-Box Model*/
	/*002-Positioning*/
	/*003-Typography*/
	/*004-Backgrounds*/
}

#loginForm label {
	/*001-Box Model*/
	/*002-Positioning*/
	/*003-Typography*/
	/*004-Backgrounds*/
}

label input:focus {
	/*001-Box Model*/
	/*002-Positioning*/
	/*003-Typography*/
	/*004-Backgrounds*/
	background-color: rgb(221, 164, 72);
}

footer {
	/*001-Box Model*/
	width:100%;
	height:100px;
	/*002-Positioning*/
	position:absolute;
	bottom:0;
	left:0;
	/*003-Typography*/
	color: rgb(255, 255, 255);
	line-height: 100px;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	/*004-Backgrounds*/
	background-color: rgb(187, 52, 47);
}

footer a {
	/*001-Box Model*/
	/*002-Positioning*/
	/*003-Typography*/
	color: rgb(255, 255, 255);
	text-decoration: none;
	/*004-Backgrounds*/
}

footer a:hover {
	/*001-Box Model*/
	/*002-Positioning*/
	/*003-Typography*/
	/*004-Backgrounds*/
	color: rgb(221, 164, 72);
}

.articleArea {
	/*001-Box Model*/
	margin: 5px 5px 10px 5px;
	padding: 15px;
	border: solid 2px rgb(187, 52, 47);
  /*002-Positioning*/
	/*003-Typography*/
	text-align: justify;
	/*004-Backgrounds*/
	background-color: rgb(255,255,255);
}

.articleArea h3 {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  text-align: center;
  font-size: 150%;
  /*004-Backgrounds*/
}

.articleArea h4 {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  text-align: left;
  font-weight: 600;
  /*004-Backgrounds*/
}

.articleArea h5 {
  /*001-Box Model*/
  /*002-Positioning*/
  margin-top: 10px;
  /*003-Typography*/
  text-align: left;
  font-size: 80%;
  font-style: italic;
  /*004-Backgrounds*/
}

.articleArea p {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  font-family: times;
  /*004-Backgrounds*/
}

.editButtons {
  /*001-Box Model*/
  /*002-Positioning*/
  /*003-Typography*/
  text-align: right;
  /*004-Backgrounds*/
}

.singleSubmitButtonForm {
  /*001-Box Model*/
  /*002-Positioning*/
  display: inline;
  /*003-Typography*/
  /*004-Backgrounds*/
}

.iFrameArticles {
  /*001-Box Model*/
  width: 100%;
  height: 500px;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
}

/*
  ========================================
  New Post Area
  ========================================
*/

#articleNewArticleArea {
  /*001-Box Model*/
  padding: 4px;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
  background-color: rgb(197, 203, 211);
}

#divNewArticleTitle {
  /*001-Box Model*/
  padding: 2px 0 0 8px;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
}

#divNewArticleTitle h1 {
  /*001-Box Model*/
  width: auto;
  /*002-Positioning*/
  display: inline-block;
  /*003-Typography*/
  font-size: 150%;
  /*004-Backgrounds*/
}

#labelNewArticleTitle {
  /*001-Box Model*/
  /*002-Positioning*/
  display: inline-block;
  /*003-Typography*/
  /*004-Backgrounds*/
}

#inputNewArticleTitle {
  /*001-Box Model*/
  border: 2px solid rgb(221, 164, 72);
  /*002-Positioning*/
  /*003-Typography*/
  font-size: 120%;
  /*004-Backgrounds*/
}

#divNewPostIcons {
  /*001-Box Model*/
  padding: 4px 4px 2px 4px;
  width: 100%;
  /*002-Positioning*/
  margin: 0 auto;
  /*003-Typography*/
  /*004-Backgrounds*/
  background-color: rgb(197, 203, 211);
}

#divNewPostIcons button {
  /*001-Box Model*/
  padding: 2px 4px;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
}

#divNewPostIcons button i {
  /*001-Box Model*/
  margin: 0 auto;
  min-width: 19px;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
}

#textAreaNewArticle {
  /*001-Box Model*/
  /*002-Positioning*/
  display: none;
  /*003-Typography*/
  /*004-Backgrounds*/
}

#richTextField {
  /*001-Box Model*/
  width: 100%;
  margin: 0 auto;
  min-height: 800px;
  border: 2px solid rgb(221, 164, 72);
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
  background-color: rgb(255,255,255);
}

input[type="color"] {
  /*001-Box Model*/
  border-radius: 5px;
  border: 2px solid rgb(221, 164, 72);
  min-height: 19px;
  /*002-Positioning*/
  /*003-Typography*/
  /*004-Backgrounds*/
  background-color: rgb(142, 40, 37);
}

input[type="color"]:hover {
  background-color: rgb(221, 164, 72);
}

#inputInsertImage {
  /*display: none;*/
}

select {
  /*001-Box Model*/
  border: 2px solid rgb(221, 164, 72);
  /*002-Positioning*/
  /*003-Typography*/
  font-size: 100%;
  /*004-Backgrounds*/
}

.divButtonSeparator {
  /*001-Box Model*/
  padding: 2px 8px 2px 2px;
  margin-bottom: 4px;
  border-right: 2px solid rgb(221, 164, 72);
  height: 35px;
  /*002-Positioning*/
  display: inline-block;
  /*003-Typography*/
  text-align: center;
  line-height: 31px;
  /*004-Backgrounds*/
}

#divNewArticleSubmitButtons {
  text-align: right;
}


/*
  ========================================
  Fonts Typography
  ========================================
*/


.homepageSections {
  text-align: center;
}

.homepageSections h1 {
	font-size: 280%;
	font-weight: bold;
	padding: 10px;
  margin-bottom: 20px;
}

.homepageSections h2 {
	font-size: 200%;
	line-height: 120%;
	margin: 10px 0;
}

.homepageSections h3 {
	font-size: 150%;
	margin: 10px 0;
	line-height: 120%;
}

.homepageSections p {
  /*margin-top: 20px;*/
}

.homepageSections a {
  color: rgb(221, 164, 72);
  text-decoration: none;
}

.homepageSections a:hover {
  color: rgb(82, 24, 20);
}

#signupHeading {
	text-align: center;
}











/*
  ========================================
    Buttons
  ========================================
*/
button {
	/*001-Box Model*/
	border: 2px solid rgb(221, 164, 72);
	border-radius: 5px;
	padding: 8px;
	/*002-Positioning*/
	/*003-Typography*/
	font-size: inherit;
	color: rgb(255, 255, 255);
	/*004-Backgrounds*/
	background-color: rgb(142, 40, 37);
}

button:hover {
	/*001-Box Model*/
	/*002-Positioning*/
	/*003-Typography*/
	cursor: pointer;
	/*004-Backgrounds*/
	background-color: rgb(221, 164, 72);
}

a[type="button"] {
	/*001-Box Model*/
	border: 2px solid rgb(221, 164, 72);
	border-radius: 5px;
	padding: 8px;
	/*002-Positioning*/
	/*003-Typography*/
	font-size: inherit;
	color: rgb(255, 255, 255);
	text-decoration: none;
	/*004-Backgrounds*/
	background-color: rgb(142, 40, 37);
}

a[type="button"]:hover {
	/*001-Box Model*/
	/*002-Positioning*/
	/*003-Typography*/
	cursor: pointer;
	/*004-Backgrounds*/
	background-color: rgb(221, 164, 72);
}


/*
  ========================================
  Colors
  ========================================
*/

/*Purple: Pomp and power
HEX: #8d6a9f
RGB: rgb(141, 106, 159)

Gray: Lavender Gray
HEX: #c5cbd3
RGB: rgb(197, 203, 211)
for the font: #2c323a, rgb(44, 50, 58)

blue: pewter blue
HEX: #8cbcb9
RGB: rgb(140, 188, 185)

yellow: Indian Yellow
HEX: #dda448
RGB: rgb(221, 164, 72)

Red: International Orange (Golden Gate Bridge)
HEX: #bb342f
RGB: rgb(187, 52, 47)*/
